package {{package}};

public class {{controllerName}}Controller {

{{#operations}}
    @RequestMapping
    public ResponseEntity<{{refModel}}> {{method}}{{operationId}}(
        {{#parameters}}

            {{#hasMore}}, {{/hasMore}} {{/parameters}}

    }
{{/operations}}

}
